<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <title>Spam Bot</title>
  </head>
  <body>
    <div id="root"></div>
    <div id="watermark"></div>
    <script type="text/javascript" src="/build/{{assets.app.js}}"></script>
  </body>
</html>
