#content {
    padding: 15px;
}

#watermark {
    position: fixed;
    background-image: url('/favicon.ico');
    background-repeat: no-repeat;
    background-size: 200px 200px;
    right: 15px;
    bottom: 15px;
    width: 200px;
    height: 200px;
    opacity: 0.15;
}

.spinner {
    background-image: url('/spinner.gif');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    display: inline-block;
    margin-left: -37px;
    top: 1px;
    position: absolute;
    width: 32px;
    height: 32px;
}

.col-md-6 .upload-form {
    float: right;
}

#content .col-xs-9 {
    width: calc(100% - 200px);
}